@import '../../scss/variables';

.menu {
  &-button {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 100;
  }
  &-icon {
    &-close {
      width: 2rem;
    }
    &-open {
      width: 2.5rem;
    }
  }

  &-body {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: $secondary-color;

    transition: transform 0.3s ease-in-out;
    max-width: 30rem;
    width: 100%;
    transform: translate(100%, 0);

    &-open {
      transform: translate(75vw, 0);
    }
    &-closed {
      transform: translate(100vw, 0);
    }
  }

  &-content {
    padding-top: 8rem;
    padding-left: 4rem;
  }
  .headline {
    cursor: pointer;
    color: $secondary-text-color;
    font-family: 'Century Gothic';
    font-weight: bold;
  }
}
