@import '../../scss/variables';

.main {
  background-color: #0f0f0f;
  height: 100vh;
  display: flex;
}

.logo-container {
  position: relative;
  align-self: center;
  padding-left: 15%;
  width: 30rem;

  @media only screen and (max-width: 775px) {
    width: 15rem;
  }
}

.text-container {
  position: absolute;
  bottom: 1rem;
  right: -3rem;

  @media only screen and (max-width: 775px) {
    bottom: 0.75rem;
  }
}

.logo-text {
  font-family: 'Century Gothic';
  font-style: italic;
  font-weight: bold;
  color: $text-color;
  padding: 0;
  margin: 0;

  @media only screen and (max-width: 775px) {
    font-size: 1.7rem;
  }
}
