@import '../../scss/variables';

.calendar {
  background-color: #0f0f0f;
  height: 100vh;
}

.home-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 3rem;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(0.9);
  }
}

.calendar {
  &-container {
    //background-color: rgb(32, 32, 32);
    position: absolute;
    top: 9rem;
    left: 8.5rem;
    width: 63vw;
  }
  &-title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-text {
    color: $text-color;
    font-family: 'Century Gothic';
    font-weight: bold;
    margin: 1rem;
    font-size: 3rem;
    text-transform: capitalize;
  }

  &-day {
    margin: 0;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-size: 2.25rem !important;
    text-align: right;
  }

  &-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: -1rem;
    justify-items: center;
  }
  &-date {
    color: $text-color;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 2.45rem;
    cursor: default;

    &.current-month {
      cursor: pointer;
      transition: 0.4s;
      &:hover {
        transform: scale(0.9);
      }
    }

    &.past {
      color: #242424;
    }

    &.today {
      color: $primary-color;
      margin: 0rem;
    }
  }
  &-highligth {
    background-color: white;
    border-radius: 45%;
    align-self: center;
    padding: 0.55rem;
  }
}

.arrow {
  width: 1.25rem;
  height: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  cursor: pointer;
  transition: 0.25s;
  &:hover {
    transform: scale(0.9);
  }
}

.divider {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  color: white;
  border: 1px solid white;
}
